@model IEnumerable<RodriguesLembra.Models.Realm>

<li>
    <a href="#"><span class="glyphicon glyphicon-tasks"></span> Tarefas<span class="fa arrow"></span></a>
    <ul class="nav nav-second-level">
    @foreach (var realm in Model)
    {
        <li>
            <a href="@Url.Action("Details", "Realms", new { id = realm.RealmID })">
                <i class="glyphicon glyphicon-arrow-right"></i> @realm.Name
            </a>
        </li>
    }
    </ul>
    <!-- /.nav-second-level -->
</li>