
@{
    ViewBag.Title = "Sobre";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Sobre</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <p>Rodrigues Lembra! é um software de gerenciamento de tarefas.</p>
        <p>Também, é um presente para a pessoa mais especial do mundo!</p>
        <p>Feliz 2 anos de namoro! <span class="glyphicon glyphicon-heart"></span></p>
    </div>
    <div class="col-md-4 col-md-offset-4">
        <hr />
    </div>
    <div class="col-md-12 text-center">
        <i>
            <p>Te dou esse presente</p>
            <p>Para você perceber</p>
            <p>Que todas as suas tarefas</p>
            <p>Aqui você deve depositar</p>
            <p>Para que assim, você possa</p>
            <p>Apenas de mim lembrar</p>
            <p>E, dessa mesma maneira,</p>
            <p>Eu apenas de você.</p>
        </i>
    </div>
    <br /><br />
    <div class="col-md-12 text-center">
        <p class="blockquote-reverse">14/02/2016<br /><strong>Mateus Rodrigues</strong></p>
    </div>
</div>

